@font-face {
    font-family: 'MyFont';
    src: url('./assets/JosefinSlab-VariableFont_wght.ttf') format('truetype');
    font-weight: 400;
    font-style: normal;
}

body {
    font-family: 'MyFont';
}

img {
    width: 200px;
}